<button type="button" class="btn btn-primary float-right m-2" data-toggle="modal" data-target="#exampleModal" 
(click)="addBook()" 
data-backdrop="static" data-keyboard="false">
    Add Book
  </button>
  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-x1">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="closeBookModal()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <app-add-edit-book [book]="book" *ngIf="ActivateAddEditBookComp"></app-add-edit-book>
        </div>
      </div>
    </div>
  </div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Book Id
            </th>
            <th>
               Name
            </th>
            <th>
                Description
            </th>
            <th>
                Purchase Price
            </th> 
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of BookList">
<td>{{dataItem.id}}</td>
<td>{{dataItem.name}}</td>
<td>{{dataItem.text}}</td>
<td>{{dataItem.purchasePrice}}</td>
<td><button type="button" class="btn btn-light mr-1" data-toggle="modal" data-target="#exampleModal" 
    (click)="editBook(dataItem)" >Edit</button>
    <button type="button" class="btn btn-light mr-1" (click)="deleteBook(dataItem)">Delete</button></td>
        </tr>
    </tbody>
</table>
